$text-color: #ffffff;
$background-color: #04009a;

.aboutme {
  color: $text-color;
  text-align: center;
  background-color: $background-color;
  width: 100%;
  padding-top: 3rem;

  h2 {
    font-size: 8.9rem;
    font-weight: 700;
  }
}
