.navbar {
  border-bottom: 1px solid black;
  position: relative;
  height: 6rem;

  ul {
    position: absolute;
    right: 3rem;
    top: 0;
    padding: 1rem;
  }
  li {
    list-style: none;
    margin-right: 3rem;
    display: inline-block;
    font-size: 2rem;
    height: 1005;
    transition: all 0.1s ease-in;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
      forwards;
    @keyframes tracking-in-expand {
      0% {
        letter-spacing: -0.5em;
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }

    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
